.btn-select {
    font-size: 16px !important;
    font-weight: bold !important;
}

.btn-cerrar {
    font-size: 16px !important;
    font-weight: bold !important;
}

.btn-options {
    font-size: 18px !important;
    font-weight: bold !important;
}

.padding0 {
    padding: 0 !important;
}

.badge-sets {
    width: 165px !important;
    font-size: 18px !important;
}

.tsc-color {
    background-color: #004054;
}

.flecha {
    width: 100px !important;
}

.stepDescripcion {
    font-size: 18px !important;
}

.encabezado {
    padding-top: 4rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-bottom: 1rem !important;
}

.step1 {
    background-size: cover;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tsc-bd655.appspot.com/o/elementosWeb%2Fwallpaper07.jpg?alt=media&token=fe409013-9373-45ac-97cd-9bec01142c68);
}